{% extends "sub-navigation.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter-from-desktop">
      {{ xGovukSubNavigation({
        items: collections.ordered | eleventyNavigation(options.homeKey) | itemsFromNavigation(page.url, { pathPrefix: options.pathPrefix })
      }) }}
    </div>
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {{ appDocumentHeader({
        title: title,
        description: description
      }) }}

      <p class="govuk-body govuk-hint govuk-!-margin-bottom-6">Page last updated on {{ fields.created }}</p>

      {{ appProseScope(content) if content }}

      {% block fields %}
      <p class="govuk-body">Showing {{ fields.fields|length }} fields</p>
      <ul class="govuk-list">
        {% for field in fields.fields %}
        <li>
          <div class="app-field__header govuk-!-margin-bottom-1">
            <span class="govuk-!-font-weight-bold">{{ field.name }}</span>
            <span class="govuk-hint">({{ field.field }})</span>
            {% if field['end-date'] %}<span class="govuk-tag govuk-tag--grey">Archived</span>{% endif %}
          </div>
          {%- if field.description %}
          <p class="govuk-body">{{ field.description }}</p>
          {% endif -%}
          {%- if field.cardinality == 'n' %}
          <p class="govuk-body">This field accepts a list. Items are separated by a <code>;</code>.</p>
          {% endif -%}
          {%- if field.datasets|length > 0 %}
          <p class="govuk-body">Datasets using this field are: {% for dataset in field.datasets %}
            {{ dataset }}{% if not loop.last %}, {% endif %}
          {% endfor %}</p>
          {% else %}
          <p class="govuk-body govuk-hint">Not included in a dataset</p>
          {% endif -%}
        </li>
        {% endfor %}
      </ul>
      {% endblock fields %}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}
