.js-hidden {
  display: none;
  visibility: hidden;
}

.app-prose-scope .govuk-heading-l,
app-prose-scope .govuk-heading-m {
  padding-top:.75em;
}

.app-article-spacing-container .govuk-heading-l {
  padding-top: 60px;
}
